/* .photoForm {

} */

form {
    width: 200px;
    padding-left: 40%;

}

input {
    padding: 10px;
    margin: 10px 0;
}

select {
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20%;
}